<% var now = Date.now(); %>

<link rel="stylesheet" type="text/css" href="/public/css/views/boardForm.css">
<script type="text/javascript" src="/smart/js/HuskyEZCreator.js"></script>
<script type="text/javascript" src="/public/js/boardForm.js"></script>
<div id="boardFormContainer">
    <form id="boardForm" action="/board/boardWrite" method="post" enctype="multipart/form-data">
        <input name="nameTime" type="hidden" value="<%= now %>">

        <div class="mb-3" style="width: 30%;">
            <select id="category" class="form-control" name="category" onclick="priceView()">
                <option value="buy">일반</option>
                <% if(user.ADMIN == 1) {%>
                <option value="sell">판매</option>  
                <option value="notice">공지</option>  
                <% }else if(user.SELLER == "sell"){%>
                <option value="sell">판매</option>   
                <% }%>       
            </select> 
        </div>
        <div class="mb-3">
            <input id="boardtitleTxt" class="form-control" type="text" name="title" placeholder="제목을 입력하세요.">
        </div>
        
        <textarea id="boardcontentTxt" name="content" maxlength="4000" rows="20" style="width: 100%;"></textarea>
        
        <div id="boardfileContainer">
            <input type="file" id="fileUp" name="fileUp" onchange="readFile(this)" multiple>
            <img id="imgView" src="" width="100" height="100">
        </div>
        
        <hr>
        <div class="mb-3">
            <input id="boardprice" type="number" value="0" name="price">
        </div>

        <div class="d-grid gap-2">
            <input class="btn btn-primary" type="button" value="작성" onclick="submitForm()">
            <input class="btn btn-danger" type="button" value="취소" onclick="history.back()">
        </div>
    </form>
</div>

    