<link rel="stylesheet" type="text/css" href="/public/css/default/footer.css">

<div id="footerContainer">
    <div id="leftFooter">
        왼쪽과
    </div>
    <div id="rightFooter">
        오른쪽!
    </div>
</div>