<link rel="stylesheet" type="text/css" href="/public/css/default/footer.css">

<div id="footerContainer">
    <div id="leftFooter">
        전화 : 02 - 1234 - 5678<br>
        팩스 : 02 - 5678 - 1234<br>
        이메일 : FNTC@naver.com<br>
        카카오톡 ID : FNTC<br>
        상담 시간 : 00:00 ~ 00:01
    </div>

    <div id="rightFooter">
        상호 : 테크놀로지<br>
        대표 : 핀테크<br>
        주소 : 서울특별시 종로구 청와대로 1<br>
        사업자 등록번호 : 211-00-76999<br>
        우리은행 : 1002 - 032 - 538269 (예금주 : 대통령)
    </div>
</div>