<link rel="stylesheet" type="text/css" href="/public/css/default/header.css">

<div id="headerContainer">
    <div id="headerContent">
        <img id="iconImg" src="/public/images/icon.jpg" alt="아이콘" width="100px" height="100px">
        <div id="searchFormContainer">
            Form!
        </div>
        <div id="userButtonContainer">
            <input id="userMenuButton" type="button" value="메뉴">
        </div>
    </div>
</div>

<%- include("nav") %>