<link rel="stylesheet" type="text/css" href="/public/css/default/nav.css">
<div id="navContainer" class="justify-content-center">
    <ul class="nav">
        <li class="nav-item btn btn-outline-warning mainmenu">
            <a class="nav-link" href="/">메인 페이지</a>
        </li>
        <li class="nav-item btn btn-outline-warning mainmenu">
            <a class="nav-link" href="/board/boardList?category=all">영상 게시판</a>
            <ul class="submenu">
                <li class="nav-item btn btn-outline-warning">
                    <a class="nav-link" href="/board/boardList?category=notice">공지 게시글</a>
                </li>
                <li class="nav-item btn btn-outline-warning">
                    <a class="nav-link" href="/board/boardList?category=buy">일반 게시글</a>
                </li>
                <li class="nav-item btn btn-outline-warning">
                    <a class="nav-link" href="/board/boardList?category=sell">판매 게시글</a>
                </li>
            </ul>
        </li>
        <li class="nav-item btn btn-outline-warning mainmenu">
            <a class="nav-link" href="/qna/list">Q&A 게시판</a>
        </li>
        <% if (user != undefined) { %>
            <li class="nav-item btn btn-outline-warning mainmenu">
                <a class="nav-link" href="/info/myPage">마이페이지</a>
            </li>
            <li class="nav-item btn btn-outline-warning mainmenu">
                <a class="nav-link" href="#">결제</a>
            </li>
        <% } %>
        <% if (user != undefined && user.ADMIN == 1) { %>
            <li class="nav-item btn btn-outline-warning adminmenu">
                <a class="nav-link" href="/admin/list"> 관 리 자 </a>
                <ul class="submenu">
                    <li class="nav-item btn btn-outline-warning">
                        <a class="nav-link" href="/admin/list"> 회원관리 </a>
                    </li>
                    <li class="nav-item btn btn-outline-warning">
                        <a class="nav-link" href="/admin/allChat"> 채팅로그 </a>
                    </li>
                </ul>
            </li>
        <% } %>
    </ul>
</div>