<link rel="stylesheet" type="text/css" href="/public/css/default/qnaFileModal.css">

<div id="qnaModalBackground">
    <div id="qnaModalContainer" class="position-absolute top-50 start-50 translate-middle rounded">
        <div id="qnaModalBtn">
            <% if (user != undefined && user.ADMIN == 1) { %>
                <input class="btn btn-danger" type="button" value="삭제" onclick="deleteQnaItem()">
            <% } %>
            <input class="btn btn-danger" type="button" value="X" onclick="closeQnaItemInfo()">
        </div>
        <div id="qnaModalItem"></div>
    </div>
</div>