<link rel="stylesheet" type="text/css" href="/public/css/default/user.css">

<div id="infoContainer" class="p-3 bg-info bg-opacity-10 border border-info rounded">
    <input type="button" id="exitUserMenu" class="btn btn-danger" value="X">

    로그인이 필요합니다.<br>
    <input type="button" class="btn btn-primary" value="Login" onclick="location.href='/member/loginForm'">
    <input type="button" class="btn btn-primary" value="Join" onclick="location.href='/member/joinForm'"><br>

    <img id="profileImg" class="rounded-circle" src="/upload/DefaultProfile.gif" alt="프로필 사진" width="100px" height="100px"><br>
    Nick(Name) 님!<br>
    환영합니다!<br>
    보유캐시 : <br>
</div>

<div id="chatContainer" class="p-3 bg-info bg-opacity-10 border border-info rounded">
    채팅 컨테이너
</div>