<link rel="stylesheet" type="text/css" href="/public/css/default/user.css">

<div id="infoContainer">
    로그인이 필요합니다.<br>
    <input type="button" value="Login" onclick="location.href='/member/loginForm'">
    <input type="button" value="Join" onclick="location.href='/member/joinForm'"><br>

    <img id="profileImg" src="/upload/DefaultProfile.gif" alt="프로필 사진" width="100px" height="100px"><br>
    Nick(Name) 님!<br>
    환영합니다!<br>
    보유캐시 : <br>
</div>
<hr>
<div id="chatContainer">
    채팅 컨테이너
</div>