#fileModalBackground {
    display: none;
    z-index: 0;
    position: fixed;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .9);
}

#fileModalContainer {
    z-index: 1;
    width: 60%;
    height: 70%;
    background-color: white;
}

#fileModalBtn {
    z-index: 5;
    position: absolute;
    top: 0%;
    right: 0%;
}

#fileModalItem {
    width: 100%;
    height: 100%;
}