#footerContainer {
    display: flex;
    margin-top: 10px;
    width: 100%;
    min-height: 10vh;
    text-align: center;
}

#leftFooter {
    width: 49.9999%;
    border-right: 1px solid gray;
}

#rightFooter {
    width: 49.9999%;
    border-left: 1px solid gray;
}