#footerContainer {
    display: flex;
    width: 100%;
    text-align: center;
}

#leftFooter {
    width: 49.9999%;
    background-color: pink;
}

#rightFooter {
    width: 49.9999%;
    background-color: lightgreen;
}