#headerContainer {
    width: 100%;
    height: 200px;
    background-color: yellow;
}

#headerContent {
    margin: auto;
    display: flex;
    line-height: 200px;
}

#iconImg {
    margin: auto;
}

#searchFormContainer {
    margin: auto;
    width: 70%;
    background-color: green;
}

#userButtonContainer {
    margin: auto;
}