#headerContainer {
    width: 100%;
    min-height: 10vh;
}

#headerContent {
    margin: auto;
    display: flex;
    line-height: 120px;
}

#iconImg {
    margin: auto;
}

#searchFormContainer {
    margin: auto;
    width: 50%;
}
#searchForm {
    display: flex;
    margin: auto;
    width: 70%;
}

#userButtonContainer {
    margin: auto;
}