* {
    margin: 0;
    padding: 0;
}

#layoutContainer {
    display: flex;
    width: 100%;
}

#sectionContainer {
    margin: auto;
    width: 100%;
}

#userContainer {
    visibility: hidden;
    overflow: hidden;
    right: 0%;
    opacity: 0;
    width: 0px;
    transition-property: opacity, width;
    transition-duration: 0.3s;
    transition-delay: 0.1s;
}