#navContainer {
    display: flex;
    margin-bottom: 10px;
    width: 100%;
    min-height: 5vh;
    text-align: center;
}

.mainmenu {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 30px;
    margin-right: 30px;
}

.mainmenu > ul {
    list-style: none;
    background-color: white;
}
.mainmenu:hover > ul {
    visibility: visible;
    height: 120px; /* 1 : 60px */
}
.submenu {
    z-index: 1;
    position: absolute;
    visibility: hidden;
    overflow: hidden;
    margin-top: 7px;
    margin-left: -13px;
    padding: 0;
    height: 0px;
    transition: all 0.3s linear;
}
.submenu > li {
    display: block;
    margin-top: 5px;
}