#boardContentHeader {
    margin: auto;
    margin-bottom: 10px;
    display: flex;
    width: 70%;
    border-bottom: 1px solid gray;
}
#boardContentWriter {
    margin: auto;
    text-align: left;
}
#boardContentCategory{
    margin: auto;
    text-align: center;
}
#boardContentTitle {
    margin: auto;
    text-align: center;
}
#boardContentInquiry{
    margin: auto;
    text-align: center;
}
#boardContentReport{
    margin: auto;
    text-align: center;
}
#boardContentTime {
    margin: auto;
    text-align: right;
}

#boardContentBody {
    margin: auto;
    margin-bottom: 10px;
    width: 70%;
    border-bottom: 1px solid gray;
    background-color: bisque;
}
#boardContentFile{
    background-color: gray;
    display: flex;
}
#boardContent{
    margin: auto;
    text-align: left;
}

#boardContentfooter {
    margin: auto;
    margin-bottom: 10px;
    width: 70%;
    border-bottom: 1px solid gray;
    background-color: lightgray;
}

#boardContentDiv {
    margin: auto;
    margin-bottom: 10px;
    width: 70%;
    border-bottom: 1px solid gray;
    background-color: aquamarine;
}


.headerLabel {
    font-size: 12pt;
    font-weight: bold;
}
#headerboardContent {
    font-size: 15pt;
    font-weight: bold;
}

#boardContentHeaderWriter {
    font-size: 10pt;
    font-weight: bold;
}
#boardContentHeaderTitle {
    font-size: 15pt;
    font-weight: bold;
}
#boardContentHeaderTime {
    font-size: 10pt;
    font-weight: bold;
}

#qnaChatContainer {
    width: 70%;
}

#qnaFileContainer {
    width: 14.9999%;
}

#qnaChatList {
    margin-bottom: 10px;
    width: 100%;
    min-height: 55vh;
    background-color: bisque;
}
#rightContent {
    display: flex;
    width: 100%;
    justify-content: right;
}
#rightContent > img {
    width: 50px;
    height: 50px;
}
#leftContent {
    display: flex;
    width: 100%;
    justify-content: left;
}
#leftContent > img {
    width: 50px;
    height: 50px;
}

#qnaFileList {
    margin-bottom: 10px;
    min-height: 55vh;
    background-color: azure;
}

.footerLabel {
    font-size: 10pt;
    font-weight: bold;
}

#boardContentTotal{
    width: 70%;
    margin: auto;
    margin-bottom: 10px;
}
#boardContentcmt{
    margin: auto;
    margin-bottom: 10px;
    width: 100%;
    border-bottom: 1px solid gray;
}
#boardContentf {
    margin: auto;
    display: flex;
    width: 100%;
    height: 100%;
    background-color: bisque;
}

.cmtContainer{
    width: 100%;
    border-bottom: 1px solid gray;
    margin: auto;
}
.cmtListHeader{
    display: flex;
    font-size: 10pt;
    margin: 0;
    padding: 0;
}
.cmtListProfile{
    margin-right: auto;
    text-align: left;
    font-weight: bold;
}
.cmtListTime{
    margin-left: auto;
    text-align: right;
}
.cmtListBtn{
    margin : 0px 10px;
    display: flex;
}
.cmtListContent{
    margin: 0;
    padding: 0;
    font-size: 13pt;
}
#boardContentHeaderBtnDiv {
    display: none;
    position: absolute;
    margin-top: -38px;
    margin-left: -60px;
}