#boardContentHeader {
    margin: auto;
    margin-bottom: 10px;
    display: flex;
    width: 70%;
    border-bottom: 1px solid gray;
}
#boardContentWriter {
    margin: auto;
    text-align: left;
}
#boardContentTitle {
    margin: auto;
    text-align: center;
}
#boardContentTime {
    margin: auto;
    text-align: right;
}
#boardContentCategory{
    margin: auto;
    text-align: center;
}

#boardContent {
    margin: auto;
    margin-bottom: 10px;
    width: 70%;
    border-bottom: 1px solid gray;
    background-color: bisque;
}

#boardContentf {
    margin: auto;
    margin-bottom: 10px;
    width: 70%;
    border-bottom: 1px solid gray;
    background-color: lightgray;
}

#boardContentDiv {
    width: 100%;
}

#boardContentFile{
    background-color: gray;
}

.headerLabel {
    font-size: 12pt;
    font-weight: bold;
}
#headerboardContent {
    font-size: 15pt;
    font-weight: bold;
}

#boardContentHeaderWriter {
    font-size: 10pt;
    font-weight: bold;
}
#boardContentHeaderTitle {
    font-size: 15pt;
    font-weight: bold;
}
#boardContentHeaderTime {
    font-size: 10pt;
    font-weight: bold;
}

#boardContentfooter {
    margin: auto;
    display: flex;
    width: 70%;
    height: 100%;
}

#qnaChatContainer {
    width: 84.9999%;
}

#qnaFileContainer {
    width: 14.9999%;
}

#qnaChatList {
    margin-bottom: 10px;
    width: 100%;
    min-height: 55vh;
    background-color: bisque;
}
#rightContent {
    display: flex;
    width: 100%;
    justify-content: right;
}
#rightContent > img {
    width: 50px;
    height: 50px;
}
#leftContent {
    display: flex;
    width: 100%;
    justify-content: left;
}
#leftContent > img {
    width: 50px;
    height: 50px;
}

#qnaFileList {
    margin-bottom: 10px;
    min-height: 55vh;
    background-color: azure;
}