#infoContainer {
    margin: auto;
    width: 70%;
    height: 100%;
}

#infoHeader {
    width: 100%;
}
#infoTitle {
    margin: 0;
    padding: 0;
    display: inline;
    font-family: "gaegu", "Nanum Pen Script", serif;
    font-size: 25pt;
    font-weight: bold;
    color: lightseagreen;
}
#headerBtn {
    display: flex;
    float: right;
}

#infoBody {
    width: 100%;
    text-align: center;
}
.infoLink {
    text-decoration: none;
    transition: all 0.5s linear;
}
.infoLink:hover {
    font-size: 13pt;
    font-weight: bold;
}

#infoFooter {
    width: 100%;
    text-align: center;
}