<script>
    let time = 60;
    const lifeCycle = () => {
        if (time <= 0) {
            alert("다시 인증하세요.");
            window.close();
        }
        time--;
        document.getElementById("timeDiv").innerHTML = time;
    }

    const submitAuth = () => {
        const input = document.getElementById("codeTxt").value;
        const code = `<%= code %>`;

        if (input == code) {
            const txt = opener.document.getElementById("emailTxt");
            txt.disabled = true;
            alert("인증되었습니다.");
            window.close();
        } else {
            alert("인증 코드가 잘 못 되었습니다.");
        }
    }

    window.onload = () => {
        document.write(`
                        <html>
                            <body>
                                <link rel="stylesheet" type="text/css" href="/public/css/views/mailPopup.css">

                                <div id="codeContainer">
                                    <div id="timeDiv">60</div>
                                    <h1>인증코드</h1>
                                    <input id="codeTxt" type="text" placeholder="Input Code"><br>
                                    <input id="authBtn" type="button" value="인증" onclick="submitAuth()">
                                </div>
                            <body>
                        </html>
                        `);
        alert("<%= email %>로 인증 메일이 전송되었습니다.");
        setInterval(lifeCycle, 1000);
    }
</script>